@import url("/style/mosaicoVertical.css");
@import url("/style/mosaicoHorizontal.css");
@import url("/style/opcoesBordas.css");
@import url("/style/menuUpload.css");
@import url("/style/menuLateral.css");
@import url("/style/baseMosaico.css");
@import url("/style/menuDownload.css");
@import url("/style/edicaoImg.css");

:root{
    --bg-body: #18122B;
    --bg-principal: #393053;
    --cor-primaria: #443C68;
    --cor-secundaria: #635985;
    --cor-bt-base: #FFF;
    --font-principal: "Poppins", sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    font-family: var(--font-principal);
    background: var(--bg-body);
}

.principal{
    background-color: black;
    width: 65vw;
    height: 90vh;
    display: grid;
    grid-template-areas: 
    "menu foto"
    "menu foto"
    "opcoes opcoes"
    ;
    grid-template-rows: repeat(2, 40%) 20%;
    grid-template-columns: 18% 82%;

}
