.container-imagem{
    background-color: var(--bg-principal);
    grid-area: foto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 71vh;
    grid-template-areas: "upload mosaico";
}


.container-imagem__mosaico{
    grid-area:mosaico;
    padding: 1vw;
}

.imagem__mosaico-bg{
    background-color: var(--cor-secundaria);
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.2vh;
}


.imagem__mosaico2:hover, .imagem__mosaico1:hover, .imagem__mosaico3:hover, .imagem__mosaico4:hover, .imagem__mosaico5:hover, .imagem__mosaico6:hover, .imagem__mosaico7:hover, .imagem__mosaico8:hover{
    opacity: 60%;
}


.imagem__mosaico2:active, .imagem__mosaico1:active, .imagem__mosaico3:active, .imagem__mosaico4:active, .imagem__mosaico5:active, .imagem__mosaico6:active, .imagem__mosaico7:active, .imagem__mosaico8:active{
    border:3px solid var(--bg-principal);
}

.imagem__mosaico-base{
    height: 100%;
    width: 100%;
    object-fit: none;
    object-position: 50% 50%;
}

.imagem__mosaico1{
    grid-area: imagem1;
}

.imagem__mosaico2{
    grid-area: imagem2;         
}

.imagem__mosaico3{
    grid-area: imagem3;
}

.imagem__mosaico4{
    grid-area: imagem4;  
}

.imagem__mosaico5{
    grid-area: imagem5;
}

.imagem__mosaico6{
    grid-area: imagem6;
}

.imagem__mosaico7{
    grid-area: imagem7;
}

.imagem__mosaico8{
    grid-area: imagem8;
}