
.container-opcoes{
    background-color: var(--bg-principal);
    grid-area: opcoes;
    border-top: 3px solid var(--bg-body);
    display: grid;
    grid-template-areas: "edicao download";
    grid-template-columns: 1fr 30%;
    padding: 0.2vw;
    align-items: center;
}



/* Opções de imagem*/
.container-opcoes__img{
    display: flex;
    width: 100%;
    height: 100%;
}

/* opções de ajustes */

.container-opcoes__img__posicao-container{
    display: grid;
    grid-template-areas: 
    "tituloAj"
    "verticalAj"
    "horizontalAj"
    "zoomAj"
    ;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(4,1.7vw);
    padding: 0.5vw;
}

.container-opcoes__img__posicao-ajustes{
    grid-area: tituloAj;
    color: var(--cor-bt-base);
    font-size: 1.2vw;
}

.container-opcoes__img__posicao-ajustes__container-titulo{
    color: var(--cor-bt-base);
    font-size: 0.9vw;
}

.container-opcoes__img__posicao-ajustes__container-vertical{
    grid-area: verticalAj;
}

.container-opcoes__img__posicao-ajustes__container-horizontal{
    grid-area: horizontalAj;
}

.container-opcoes__img__posicao-ajustes__container-zoom{
    grid-area: zoomAj;
}
