
/* mosaico de duas fotos vertical*/
.imagem__mosaico-moldura2v{
    display: grid;
    grid-template-areas: 
    "imagem1"
    "imagem2";
   aspect-ratio: 9/16;
    width: 45%;
    align-items: center;
    grid-template-rows: 50% 50%;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    border: 3px solid var(--bg-body);
}

.imagem__mosaico2v{
    zoom:50%;
}


/* ------ mosaico de 3 fotos vertical ------*/

.imagem__mosaico-moldura3v{
    display: grid;
    grid-template-areas: 
    "imagem1 imagem3"
    "imagem2 imagem3";
   aspect-ratio: 9/16;
    width: 45%;
    border: 3px solid var(--bg-body);
    align-items: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
}

.imagem__mosaico3v{
    zoom:60%;
}


/* ------ mosaico de 4 fotos vertical -------*/
.imagem__mosaico-moldura4v{
    display: grid;
    grid-template-areas: 
    "imagem1 imagem3"
    "imagem2 imagem4";
    aspect-ratio: 9/16;
    width: 45%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: auto;
    border: 3px solid var(--bg-body);
    border-radius: 30px;
    overflow: hidden;
}

.imagem__mosaico4v{
    zoom:50%;
}


/* ------ mosaico de 8 fotos vertical -------*/
.imagem__mosaico-moldura8v{
    display: grid;
    grid-template-areas: 
    "imagem1 imagem2"
    "imagem3 imagem4"
    "imagem5 imagem6"
    "imagem7 imagem8";
    aspect-ratio: 9/16;
    width: 45%;
    grid-template-rows: repeat(4,25%);
    grid-template-columns: 50% 50%;
    margin: auto;
    border: 3px solid var(--bg-body);
    border-radius: 30px;
    overflow: hidden;
}

.imagem__mosaico8v{
    zoom: 30%;
}

