/* mosaico de duas fotos horizontal*/
.imagem__mosaico-moldura2h{
    display: grid;
    grid-template-areas: 
    "imagem1 imagem2";
    aspect-ratio: 16/9;
    align-items: center;
    grid-template-columns: 50% 50%;
    margin: auto;
    border: 3px solid var(--bg-body);
    border-radius: 30px;
    overflow: hidden;
}

.imagem__mosaico2h{
    zoom: 60%;
}


/* ------ mosaico de 3 fotos vertical ------*/

.imagem__mosaico-moldura3h{
    display: grid;
    grid-template-areas: 
    "imagem1 imagem2"
    "imagem3 imagem3";
    aspect-ratio: 16/9;
    align-items: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: auto;
    border: 3px solid var(--bg-body);
    border-radius: 30px;
    overflow: hidden;
}

.imagem__mosaico3h{
    zoom: 80%;
}


/* ------ mosaico de 4 fotos vertical -------*/
.imagem__mosaico-moldura4h{
    display: grid;
    grid-template-areas: 
    "imagem1 imagem3"
    "imagem2 imagem4";
    aspect-ratio: 16/9;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: auto;
    border: 3px solid var(--bg-body);
    border-radius: 30px;
    overflow: hidden;
}

.imagem__mosaico4h{
    zoom: 40%;
}




/* ------ mosaico de 8 fotos vertical -------*/
.imagem__mosaico-moldura8h{
    display: grid;
    grid-template-areas: 
    "imagem1 imagem2 imagem3 imagem4"
    "imagem5 imagem6 imagem7 imagem8"
    ;
    aspect-ratio: 16/9;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 50% 50%;
    margin: auto;
    border: 3px solid var(--bg-body);
    border-radius: 30px;
    overflow: hidden;
}

.imagem__mosaico8h{
    zoom: 40%;
}
